
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link {
    color: red;
    transition: 0.5s;
}
.nav-link:hover, .nav-link.actives {
    color: red !important; /* pour mettre une propriete en avant qu elle doit marcher*/
}
.nav-link:visited {
    color: black;
}
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-up {
    animation: slideUp 1s ease-out forwards;
}
.service-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    transition: box-shadow 0.3s ease;
}

.service-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
